package config

const (
    
    APP_ENV         = "local"                      // Set to local or production depending on the environment
    APP_DEBUG       = true                         // Set true or false based on debug mode
    APP_KEY         = "<app-key>"                  // Set random string with 32 charcters

    DB_CONNECTION   = "mysql"                      // Database connection name
    DB_HOST         = "127.0.0.1"                  // Host name
    DB_PORT         = "3306"                       // DB port name
    DB_DATABASE     = "<db-name>"                  // Database name
    DB_USERNAME     = "<user-name>"                // Database username
    DB_PASSWORD     = "<password>"                 // Database Password
)